@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:wght@400;500&family=Poppins:wght@600&display=swap'); */

@theme {
  --color-primary: #222222; /* Charcoal Gray */
  --color-secondary: #E5E5E5; /* Light Gray */
  --color-dark: #4A4A4A; /* Dark Slate Gray */
  --color-light: #B0B0B0; /* Silver Gray */
  --color-accent: #7A7A7A; /* Medium Gray */
  --font-inter: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-roboto: Roboto, ui-sans-serif, system-ui, sans-serif;
  --font-poppins: Poppins, ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  :root {
    --background: var(--color-primary);
    --foreground: var(--color-dark);
  }
}

body {
  @apply bg-primary text-dark font-roboto;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-poppins {
  font-family: var(--font-poppins);
}